*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json
!next-env.d.ts
!next.config.ts
!src/
!src/**
!public/
!public/**

!scripts/
!scripts/migrate.ts
!scripts/check-config.ts
!scripts/admin-bootstrap.ts
!scripts/seed-2026.ts
!scripts/seed-ulujam-years.ts
